.country{
    border: 4px purple solid;
    margin: 7px;
    border-radius: 10px;
    padding: 15px;
}
.visited{
    background-color: beige;
}
.non-visited{
    background-color: green;
}
.flags-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
}
.flags-container img{
    width: 70px;
    
}